* {
  margin: 0.9rem;
  padding: 0rem;
  
  }

  body {
    background-color:#f4f4f4;
    }
    
  .site-header {
      background-color:#000;
      margin:0;
      padding:30px 0;
      text-align: center;
      color:white;
      font-weight: bold;  
      }
    article {
        text-align: center;
      
        
      }
      .contents-articles{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
     
      }
      article:first-child {
        border-left-style: solid;
        border-color: blue;
        background-color: burlywood;

      }
      
      .site-footer {
        text-align: right;
      }
      .bar {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 210px; /* Set the width of the sidebar */
        position: absolute; /* Fixed Sidebar (stay in place on scroll) */
        /*z-index: 1;  Stay on top */
        top: 0; /* Stay at the top */
      right: 0;
        
        overflow-x: hidden; /* Disable horizontal scroll */
        overflow-y:hidden;
        padding-top: 150px;
      }